Objective
You have been given a task to gather data about movies from the Open Movie Database (OMDb) API and store it in a pandas dataframe. The data should include the movie title, year of release, director, and rating.

Instructions
1.Go to the OMDb API website (https://www.omdbapi.com/apikey.aspx) and obtain an API key.

2.Install the requests and pandas libraries if you have not already done so.

3.Use the requests library to send a request to the OMDb API to retrieve data about the top 10 movies.

4.Parse the data using the json library to extract the title, year, director, and rating for each movie.

5.Store the extracted data in a pandas dataframe with appropriate column names.

6.Print the dataframe to verify that the data has been successfully stored.

Note: The API key needs to be included in the request URL. The request URL for the top 10 movies is: http://www.omdbapi.com/?apikey=[YOUR_API_KEY]&s=*&type=movie&page=1. Replace [YOUR_API_KEY] with your actual API key.

In [90]:
import pandas as pd
import json
import requests

In [91]:
ur1 = ('http://www.omdbapi.com/?i=tt3896198&apikey=912b66ed')

In [92]:
response = requests.get(ur1)

In [93]:
response

In [94]:
data = response.json()
data

{'Title': 'Guardians of the Galaxy Vol. 2',
 'Year': '2017',
 'Rated': 'PG-13',
 'Released': '05 May 2017',
 'Runtime': '136 min',
 'Genre': 'Action, Adventure, Comedy',
 'Director': 'James Gunn',
 'Writer': 'James Gunn, Dan Abnett, Andy Lanning',
 'Actors': 'Chris Pratt, Zoe Saldana, Dave Bautista',
 'Plot': "The Guardians struggle to keep together as a team while dealing with their personal family issues, notably Star-Lord's encounter with his father the ambitious celestial being Ego.",
 'Language': 'English',
 'Country': 'United States',
 'Awards': 'Nominated for 1 Oscar. 15 wins & 60 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.6/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '85%'},
  {'Source': 'Metacritic', 'Value': '67/100'}],
 'Metascore': '67',
 'imdbRating': '7.6',
 'imdbVotes': '691,435',
 'imdbID': 'tt3896198',
 'Type': 'movie',
 'DVD': '22 Aug 2017',
 'BoxOffice': '$389,813,101',
 'Production': 'N/A',
 'Website': 'N/A',
 'Response': 'True'}

In [97]:
movies = []
if data['Response'] == 'True':
    movie_data = {}
    movie_data['Title'] = data ['Title']
    movie_data['Year'] = data['Year']
    movie_data['Director'] = data['Director']
    movie_data['Rating'] = data['imdbRating']
    movies.append(movie_data)

In [98]:
data = pd.DataFrame(movies, columns=['Title', 'Year', 'Director','Rating'])

In [99]:
data.head()

                            Title  Year    Director Rating
0  Guardians of the Galaxy Vol. 2  2017  James Gunn    7.6